{% load mptt_tags %}
<nav class="navbar navbar-expand-md navbar-dark mdb-color lighten-3 mt-3 mb-5" role="navigation">
    <a class="navbar-brand" href="#">Категории</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'funnyshop_home' %}">Все</a>
            </li>
            {% recursetree categories %}
            <li class="nav-item {% if not node.is_leaf_node %}dropdown{% endif %}">
                <a {% if not node.is_leaf_node %}class="nav-link dropdown-toggle" id="dropdown{{ node.pk }}" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"{% else %}href="{% url 'funnyshop_category' node.pk %}"{% endif %}>{{ node.name }}</a>
                {% if not node.is_leaf_node %}
                <ul class="dropdown-menu" aria-labelledby="dropdown{{ node.pk }}">
                    {{ children }}
                </ul>
                {% endif %}
            </li>
            {% endrecursetree %}
        </ul>
        <form class="form-inline mt-2 mt-md-0" action="{% url 'funnyshop_search' %}" method="get">
            <input class="form-control mr-sm-2" type="text" maxlength="100" name="q" spellcheck="false" autocomplete="off" placeholder="Найти" aria-label="Найти">
        </form>
    </div>
</nav>