{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block add_title %}{% endblock add_title %}{% block title %}Funny Shop{% endblock title %}</title>
    {% block style %}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static "/funnyshop/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static "/funnyshop/css/mdb.min.css" %}" rel="stylesheet">
    <!-- Navbar -->
    <link href="{% static "/funnyshop/css/navbar.css" %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static "/funnyshop/css/style.min.css" %}" rel="stylesheet">
    {% block add_style %}{% endblock %}
    {% endblock %}
</head>

<body>
    <!-- Navbar -->
    {% block navbar %}
        {% include 'funnyshop/funnyshop-navbar.html' %}
    {% endblock navbar %}
    <!-- Navbar -->

    <!--Carousel Wrapper-->
    {% block carousel %}{% endblock carousel %}
    <!--/.Carousel Wrapper-->

    <!--Main layout-->
    {% block main %}{% endblock main %}
    <!--Main layout-->

    <!--Footer-->
    {% block footer %}
        {% include 'funnyshop/funnyshop-footer.html' %}
    {% endblock footer %}
    <!--/.Footer-->

    <!-- SCRIPTS -->
    {% block script_bottom %}
    <!-- JQuery -->
    <script type="text/javascript" src="{% static "/funnyshop/js/jquery-3.3.1.min.js" %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static "/funnyshop/js/popper.min.js" %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static "/funnyshop/js/bootstrap.min.js" %}"></script>
    <!-- Navbar -->
    <script type="text/javascript" src="{% static "/funnyshop/js/navbar.js" %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static "/funnyshop/js/mdb.min.js" %}"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
    {% block add_script_bottom %}{% endblock %}
    {% endblock script_bottom %}
</body>

</html>