<footer class="page-footer text-center font-small mt-4">

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2018 Copyright:
        <a href="http://funnytoys.californiaone.ru"> Funny Toys </a>
    </div>
    <!--/.Copyright-->

</footer>