{% load staticfiles %}
<div class="card">

    <!--Card image-->
    <div class="view overlay">
        {% if product.images.all %}
        <img src="{{ product.images.all.0.image_800_600.url }}" class="card-img-top" alt="{{ product.images.all.0.title }}">
        {% else %}
        <img src="{% static '/funnyshop/img/no_photo.jpg' %}" class="card-img-top" alt="">
        {% endif %}
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!--Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Category & Title-->
        <a href="{% url 'funnyshop_category' product.categories.pk %}" class="grey-text">
            <h5>{{ product.categories.name }}</h5>
        </a>
        <h5>
            <a href="{% url 'funnyshop_product' product.pk %}" class="dark-grey-text">{{ product.name|truncatechars:18 }}</a>
        </h5>

        <h4 class="blue-text">
            <i class="fa fa-ruble"></i> {{ product.price }}
        </h4>

    </div>
    <!--Card content-->

</div>