<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="http://funnytoys.californiaone.ru/">
            <strong class="blue-text">Funny Toys</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'funnyshop_home' %}">Магазин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="https://dmitriydef.ru" target="blank">Блог</a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="https://bitbucket.org/dmitriydef/funnyshop" class="nav-link border border-light rounded waves-effect" target="_blank">
                        <i class="fa fa-bitbucket mr-2"></i>FT Bitbucket
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>