{% extends 'funnyshop/funnyshop-base.html' %}
{% load staticfiles %}
{% load funnyshop %}

{% block add_title %}
{% if category %}{{ category.name }} - {% endif %}
{% endblock add_title %}

{% block add_style %}
<style type="text/css">
    html,
    body,
    header,
    .carousel {
        height: 60vh;
    }

    @media (max-width: 740px) {

        html,
        body,
        header,
        .carousel {
            height: 100vh;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {

        html,
        body,
        header,
        .carousel {
            height: 100vh;
        }
    }
</style>
{% endblock %}

{% block carousel %}
    {% include 'funnyshop/funnyshop-carousel.html' %}
{% endblock carousel %}

{% block main %}
<main>
    <div class="container">

        <!--Navbar-->
        {% categories_navbar %}
        <!--/.Navbar-->

        <!--Section: Products v.3-->
        <section class="text-center mb-4">

            <!--Grid row-->
            <div class="row wow fadeIn">

                {% for product in products %}
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4">
                    
                    <!--Card-->
                    {% product_card product %}
                    <!--Card-->

                </div>
                <!--Grid column-->

                {% endfor %}

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Products v.3-->

    </div>
</main>
{% endblock main %}
