{% extends 'funnyshop/funnyshop-base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load funnyshop %}

{% block add_title %}
{% if product %}{{ product.name }} - {% endif %}
{% endblock add_title %}

{% block main %}
<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

        <!--Navbar-->
         {% categories_navbar %}
        <!--/.Navbar-->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                {% if product.images.all %}
                <img src="{{ product.images.all.0.image_800_600.url }}" class="img-fluid" alt="{{ product.images.all.0.title }}">
                {% else %}
                <img src="{% static '/funnyshop/img/no_photo.jpg' %}" class="img-fluid" alt="">
                {% endif %}
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-4">

                    <h4>{{ product.name }}</h4>

                    <div class="mb-3">
                        {% for breadcrumb in breadcrumbs %}
                        <a href="{% url 'funnyshop_category' breadcrumb.pk %}">
                            <span class="badge blue mr-1">{{ breadcrumb.name }}</span>
                        </a>
                        {% endfor %}
                    </div>

                    <p class="lead">
                        <i class="fa fa-ruble"></i> <span>{{ product.price }}</span>
                    </p>

                    <p class="lead">Описание</p>
                    <p>{{ product.description|linebreaks }}</p>
                    {% if product.products_webpage %}
                    <p class="lead">Производитель</p>
                    <p><a href="{{ product.products_webpage }}" target="blank">{{ product.products_webpage }}</a></p>
                    {% endif %}
                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">

                <h4 class="my-4 h4">Дополнительная информация</h4>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo
                    soluta odit voluptates,
                    quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid"
                    alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid"
                    alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid"
                    alt="">

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>
{% endblock main %}
